<div>
<form #formDirective="ngForm" (ngSubmit)="onSubmit()"
      *ngIf="formGroup"
      [formGroup]="formGroup">
  <div class="container">
    <div class="content">
      <mat-card>

        <!-- First Name -->
        <mat-form-field>
          <mat-label>{{"FIRST_NAME" | translate}}</mat-label>
          <input matInput [formControlName]="'firstName'" placeholder='{{"ENTER_FIRST_NAME" | translate}}' type="text">
          <mat-error *ngIf="formGroup.get('firstName')?.hasError('required')">
            {{"FIRST_NAME_ERROR" | translate}}
          </mat-error>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field>
          <mat-label>{{"LAST_NAME" | translate}}</mat-label>
          <input matInput [formControlName]="'lastName'" placeholder='{{"ENTER_LAST_NAME" | translate}}' type="text">
          <mat-error *ngIf="formGroup.get('lastName')?.hasError('required')">
            {{"LAST_NAME_ERROR" | translate}}
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field>
          <mat-label>{{"EMAIL" | translate}}</mat-label>
          <mat-icon matPrefix>alternate_email</mat-icon>
          <input matInput [formControlName]="'email'" placeholder='{{"ENTER_EMAIL" | translate}}' type="email">
          <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
            {{"EMAIL_ERROR" | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
            {{"EMAIL_VALID_ERROR" | translate}}
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <mat-label>{{"PASSWORD" | translate}}</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input matInput [formControlName]="'password'" placeholder='{{"PASSWORD_ENTER" | translate}}' type="password">
          <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
            {{"PASSWORD_REQ" | translate}}
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field>
          <mat-label>{{"CONF_PASSWORD" | translate}}</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input matInput [formControlName]="'secondPassword'" placeholder='{{"CONF_PASSWORD_ENTER" | translate}}' type="password">
          <mat-error *ngIf="formGroup.get('secondPassword')?.hasError('required')">
            {{"CONF_PASSWORD_REQ" | translate}}
          </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit">{{"SIGN_UP" | translate}}</button>

        <!-- Go to Sign In -->
        <button mat-raised-button color="basic" type="button" (click)="openSignInForm()">{{"SIGN_IN" | translate}}</button>

      </mat-card>
    </div>
  </div>
</form>
</div>
