.book-list-container {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}

.book-grid-list {
  flex: 1;
  margin: 0 1rem;
}

.paginator-body {
  margin-top: auto;
}

.book-list-card-wrapper {
  width: 100%;
  height: 100%;
}

.book-list-card-wrapper * {
  color: var(--primary-color-light);
}

.book-card-description {
  margin: 1rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
