<div class="flex-row">
  <app-filter (filter)="filterBooksWithColumnDef($event)"
              [columns]="columns()">
  </app-filter>

  <mat-grid-list class="book-list-view" cols="3" gutterSize="16px">
    <mat-grid-tile (click)="goToBookDetail(book.id)" *ngFor="let book of books()?.content">
      <mat-card appearance="outlined" class="book-list-item">
        <mat-card-header class="header">
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.authors.join(", ")}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="book.thumbnail || 'assets/img/empty.avif'" alt="{{book.title}}" class="book-thumbnail"
             mat-card-image>
        <mat-card-content class="book-list-item-text">
          <p>{{book.description}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator (page)="onChangePage($event)"
                 [length]="(books()?.totalPages || 0) * bookFilter.size"
                 [pageIndex]="(books()?.page || 0) - 1"
                 [pageSizeOptions]="[9, 27, 90]"
                 aria-label="Select page"
                 class="paginator-body">
  </mat-paginator>
</div>
