<div class="flex-row">
  <mat-form-field>
    <mat-label>Category filter</mat-label>
    <input (change)="onChangeGenre()" [(ngModel)]="value" matInput placeholder="Search category..." type="text">
    <button (click)="value=''" *ngIf="value" aria-label="Clear" mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-grid-list class="book-list-view" cols="3" gutterSize="16px">
    <mat-grid-tile *ngFor="let book of books()?.content">
      <mat-card appearance="outlined" class="book-list-item">
        <mat-card-header class="header">
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.authors.join(", ")}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="book.thumbnail" alt="{{book.title}}" class="book-thumbnail" mat-card-image>
        <mat-card-content class="book-list-item-text">
          <p>{{book.description}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator (page)="onChangePage($event)"
                 [length]="books()!.totalPages * bookFilter.size"
                 [pageIndex]="books()!.page - 1"
                 [pageSizeOptions]="[9, 27, 90]"
                 aria-label="Select page"
                 class="paginator-body">
  </mat-paginator>
</div>
