<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <mat-card>
    <mat-card-title style="padding-bottom: 1rem">{{ 'PAYMENT_CONFIRMATION' | translate }}</mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'EMAIL' | translate }}</mat-label>
      <input [formControl]="formGroup.controls.email" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'PAYMENT_METHOD' | translate }}</mat-label>
      <mat-select (selectionChange)="recalculatePrices()" [formControl]="formGroup.controls.paymentMethod">
        <mat-option value="{{paymentMethodEnum.CARD}}">{{ 'CARD' | translate }}</mat-option>
        <mat-option value="{{paymentMethodEnum.BANK_TRANSFER}}">{{ 'BACK_TRANSFER' | translate }}</mat-option>
        <mat-option value="{{paymentMethodEnum.CASH}}">{{ 'CASH' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <table [dataSource]="cartSessionItemViews()" class="cart-price-table" mat-table>
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>{{ 'TITLE' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell>{{ 'PRICE' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th *matHeaderCellDef mat-header-cell>{{ 'QUANTITY' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th *matHeaderCellDef mat-header-cell>{{ 'TOTAL_PRICE' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{element.quantity * element.price}} </td>
      </ng-container>

      <tr *matHeaderRowDef="cartTableDisplayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: cartTableDisplayedColumns;" mat-row></tr>
    </table>

    <mat-card-content>
      <p>{{'FEE' | translate}}: {{ this.booksTotalPrice - this.booksPrice }}Kč</p>
      <p>{{ 'TOTAL_PRICE' | translate }}: {{this.booksTotalPrice }}Kč</p>
    </mat-card-content>

    <mat-card-actions>
      <button class="info-button-without-background" mat-raised-button type="submit">
        {{ 'CONFIRM_PAYMENT' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
