<div *ngIf="book() as book" class="book-container">
  <div class="book-header">
    <img [src]="book.thumbnail || 'assets/img/empty.avif'" alt="{{ book.title }} cover image" class="book-thumbnail">

    <div class="book-title-container">
      <h2 class="book-title">
        {{ book.title }}
        <button (click)="onSubmitBookFavorite()" *ngIf="isSignedIn()" mat-icon-button>
          <mat-icon *ngIf="isBookFavorite(); else addFavorite">favorite</mat-icon>
          <ng-template #addFavorite>
            <mat-icon>favorite_border</mat-icon>
          </ng-template>
        </button>
      </h2>
      <p class="book-subtitle">{{ book.subtitle }}</p>
    </div>
  </div>

  <div class="book-info">
    <p><strong>ISBN-13:</strong> {{ book.isbn13 }}</p>
    <p><strong>ISBN-10:</strong> {{ book.isbn10 }}</p>

    <div class="book-authors">
      <p><strong>{{ 'AUTHORS' | translate }}:</strong></p>
      <ul>
        <li *ngFor="let author of book.authors"> {{ author.name }}</li>
      </ul>
    </div>

    <div class="book-categories">
      <p><strong>{{ 'CATEGORIES' | translate }}:</strong></p>
      <ul>
        <li *ngFor="let category of book.categories"> {{ category.name }}</li>
      </ul>
    </div>

    <p><strong>{{ 'PUBLISHED_YEAR' | translate }}: </strong>
      <span *ngIf="book.publishedYear; else unknownPublishedYear">{{ book.publishedYear }}</span>
      <ng-template #unknownPublishedYear>{{ 'UNKNOWN_TEXT' | translate }}</ng-template>
    </p>

    <p><strong>{{ 'PAGES' | translate }}: </strong>
      <span *ngIf="book.numPages; else unknownPages">{{ book.numPages }}</span>
      <ng-template #unknownPages>{{ 'UNKNOWN_TEXT' | translate }}</ng-template>
    </p>

    <p><strong>{{ 'AVERAGE_RATING' | translate }}: </strong>
      <span *ngIf="book.averageRating; else unknownAverageRating">{{ book.averageRating }} ({{ book.ratingsCount }}
        ratings)</span>
      <ng-template #unknownAverageRating>{{ 'UNKNOWN_TEXT' | translate }}</ng-template>
    </p>

    <p><strong>{{ 'DESCRIPTION' | translate }}: </strong>
      <span *ngIf="book.averageRating; else unknownDescription">{{ book.description }}</span>
      <ng-template #unknownDescription>{{ 'UNKNOWN_TEXT' | translate }}</ng-template>
    </p>
  </div>

  <div *ngIf="isSignedIn()">
    <button (click)="ratingInput.set(i+1)" *ngFor="let ratingId of [0, 1, 2, 3, 4]; index as i" [id]="'star_'+i"
            [ngClass]="{'active-star': i < ratingInput()}" mat-icon-button>
      <mat-icon>
        {{showBookIcons(i)}}
      </mat-icon>
    </button>

    <form (ngSubmit)="onSubmitBookRating()" class="rating">
      <div class="flex-column">
        <button class="btn submit-btn" type="submit">{{ 'SUBMIT_RATING' | translate }}</button>
        <button (click)="deleteBookRating()" class="btn submit-btn" type="button">
          {{ 'DELETE_RATING' | translate }}
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="book.bookComments?.length || book.disabled" class="comment-section">
    <h3>{{ 'COMMENTS' | translate }}</h3>
    <ul>
      <li *ngFor="let comment of book.bookComments" class="comment-item">
        <div class="comment-header">
          <p><strong>{{ comment.user }}</strong></p>
          <p class="comment-date">{{ moment(comment.createdDateTime).format('DD.MM.YYYY HH:mm') }}</p>
        </div>
        <p>{{ comment.comment }}</p>
      </li>
    </ul>
  </div>

  <div *ngIf="isSignedIn()" class="add-comment">
    <h3>{{ 'ADD_COMMENT' | translate }}</h3>
    <form #commentForm="ngForm" (ngSubmit)="submitComment()">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>{{ 'COMMENT' | translate }}</mat-label>
        <textarea
          [(ngModel)]="commentInput"
          class="comment-input"
          matInput
          maxlength="500"
          minlength="3"
          name="commentInput"
          placeholder="{{ 'Type your comment here...' | translate }}"
          required>
        </textarea>
      </mat-form-field>
      <button [disabled]="!commentForm.valid || book?.disabled === true" class="submit-button"
              type="submit">{{ 'SUBMIT_COMMENT' | translate }}</button>
    </form>
  </div>
</div>
