.cart-main-stepper * {
  color: var(--primary-color-light);
}

:host ::ng-deep .cart-main-stepper .mat-step-icon-selected,
:host ::ng-deep .cart-main-stepper .mat-step-icon-state-edit,
:host ::ng-deep .cart-main-stepper .mat-step-icon-state-done {
  background-color: var(--secondary-background-color-light);
}

.cart-price-table {
  padding: 2rem 0;
}
