<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="container">
      <div class="content">
        <mat-card>

          <mat-form-field>
            <mat-icon matPrefix>alternate_email</mat-icon>
            <input [formControl]="formGroup.controls.email" matInput placeholder='{{"EMAIL" | translate}}' type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input [formControl]="formGroup.controls.password" matInput placeholder='{{"PASSWORD" | translate}}'
                   type="password">
          </mat-form-field>

          <mat-checkbox [formControl]="formGroup.controls.rememberMe">{{"REMEMBER_ME" | translate}}</mat-checkbox>

          <button color="primary" mat-raised-button type="submit">{{"SIGN_IN" | translate}}</button>
          <br>
          <button (click)="openSignUpForm()" color="basic" mat-raised-button
                  type="button">{{"SIGN_UP" | translate}}</button>
          <br>
        </mat-card>
      </div>
    </div>
  </form>
</div>
